.container {
  width: 1400px;
  margin: 0 auto;
  padding: 220px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  gap: 60px;
}

.app__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app__header_title {
  color: #282828;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}

.app__header_subtitle {
  color: #282828;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.exchange {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.exchange__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e3ebef;
  background-color: #f6f7f8;
  padding: 14px;
  height: 50px;
}

.exchange__item_common {
  border: none;
  background-color: transparent;
  color: #282828;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.exchange__item > input {
  width: 70%;
}

.exchange__item > div {
  width: 30%;
}

/* buttons */

.btn {
  border: none;
  cursor: pointer;
}

.swap__btn {
  width: 24px;
  height: 24px;
  padding: 14px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select__button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding-right: 34px;
  font-size: 16px;
  font-weight: 400;
  /* height: inherit; */
  color: #282828;
  background-color: #f6f7f8;
  border-radius: 5px;
  border: 1px solid #e3ebef;
  border: none;
  cursor: pointer;
}

.select__button::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 10.4px 6px 0 6px;
  border-color: #798498 transparent transparent transparent;
  border-style: solid;
}

.hidden {
  display: none;
}

.select__options {
  z-index: 1;
  min-width: 250px;
  position: absolute;
  top: 15px;
  right: -15px;
  max-height: 250px;
  overflow-y: auto;
  margin-top: 5px;
  padding: 0 8px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #282828;
  background-color: #f6f7f8;
  border-radius: 5px;
  border: 1px solid #e3ebef;
}

.search__select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border-radius: 5px;
  background-color: #e3ebef;
}

.select__input {
  border-radius: 5px;
  background-color: #e3ebef;
  border: none;
  padding: 8px;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #282828;
  box-sizing: border-box;
}

.options__item {
  margin-top: 5px;
  padding: 4px;
  color: #282828;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e3ebef;
  cursor: pointer;
}

.options__item:hover {
  background-color: #11b3fe;
  color: #fff;
}

.exchange__btn {
  padding: 15px;
  border-radius: 5px;
  background-color: #11b3fe;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.apikey__exchange_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.exchange__input_btn {
  display: flex;
  align-items: baseline;
  gap: 32px;
}

.exchange__input_btn > input {
  flex: 1;
}

.exchange__input_btn > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exchange__input_btn > div > p {
  color: #e03f3f;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

@media (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .app__header_title {
    font-size: 40px;
  }
  .exchange {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
  }

  .exchange__item {
    width: 100%;
  }

  .swap__btn {
    transform: rotate(90deg);
  }

  .exchange__input_btn {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }

  .exchange__input_btn > div > p {
    color: #e03f3f;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }
}
